@model ProyectoVet.Models.Cliente

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proyecto vet</title>
    @Styles.Render("~/Content/css")
    <script src="https://kit.fontawesome.com/496c472379.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="~/Content/css/Login.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row d-flex justify-content-center cont sin">
            <div class="col-lg-11 sin">
                <div class="row sin">
                    <div class="col-lg-6 d-flex justify-content-center align-items-center cont-img sin">
                        <img src="~/Content/img/login.PNG" />
                    </div>
                    <div class="col-lg-6 cont-form text-center">
                        <img src="~/Content/img/Lupan (2).png" />
                        <p>Crear cuenta</p>
                        <br><br>
                        <div class="row sin">
                            <div class="col-lg-6 d-flex align-items-center flex-column">
                                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese su nombre" } })
                                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
                                <br>
                                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese sus apellidos" } })
                                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
                                <br>
                                @Html.EditorFor(model => model.Documento, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese su documento" } })
                                @Html.ValidationMessageFor(model => model.Documento, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6 d-flex align-items-center flex-column">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese su email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                <br>
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese su telefono" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                <br>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input ancho", @placeholder = "Ingrese su contraseña" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row sin">
                            <div class="col-lg-12 d-flex align-items-center flex-column">
                                <br><br>
                                <input type="submit" value="Registrarse" class="btn boton" />
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <footer>
        <br />
        <center><p>&copy; @DateTime.Now.Year - Lupan Veterinario</p></center>
    </footer>
</body>
</html>
