@model ProyectoVet.Models.Cita

@{
    ViewBag.Title = "Detalles cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cita - @Html.DisplayFor(model => model.mascota.Nombres) (@Html.DisplayFor(model => model.Fecha))</h4>
    <table class="table table-striped">
        <tr>
            <td>
                Mascota
            </td>

            <td>
                @Html.DisplayFor(model => model.mascota.Nombres)
            </td>
        </tr>
        <tr>
            <td>
               Medico
            </td>

            <td>
                @Html.DisplayFor(model => model.medico.Nombres)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Fecha)
            </td>

            <td>
                @Html.DisplayFor(model => model.Fecha)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Hora)
            </td>

            <td>
                @Html.DisplayFor(model => model.Hora)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Categoria)
            </td>

            <td>
                @Html.DisplayFor(model => model.Categoria)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Consultorio)
            </td>

            <td>
                @Html.DisplayFor(model => model.Consultorio)
            </td>
        </tr>

</table>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCita }, new { @class = "btn btn-success" })
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-primary" })
</p>
