@model IEnumerable<ProyectoVet.Models.Blog>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chat-left-heart-fill" viewBox="0 0 16 16">
        <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
    </svg>
    Blog
</h2>

<p>
    @Html.ActionLink("+", "Create", new { }, new { @class = "btn agregar" })
</p>

@foreach (var item in Model)
{
<div class="col-lg-4 sin">
    <div class="cont-mascota d-flex justify-content-center align-items-center flex-column" style="align-items: start;">
        <h4 style="height:50px;border-bottom:solid 1px #808080;">@Html.DisplayFor(modelItem => item.Titulo)</h4>

        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-heart" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3Zm2 .5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V4a.5.5 0 0 0-.5-.5H3Zm5 4.493c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
            </svg>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </p>

        <p style="height:100px;">@Html.DisplayFor(modelItem => item.Descripcion)</p>
        @Html.ActionLink("Detalles", "Details", new { id = item.IdBlog }, new { @class = "btn detalles w100" }) <br />
        <div>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdBlog }, new { @class = "btn btn-success w100" })
        </div>
    </div>
   
</div>
}

